@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, html {
    /* Todo o trecho de html e body */
    background-color: lightgray;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(150, 150, 150);
}
/* Configuração do h1 do header*/
header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;  /*Tira as bolinhas*/
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    /* Centralizar o main*/
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;  /* Espaçamento entre parágrafos */
    text-indent: 20px;  /* Dá um espaçamento no início de cada parágrafo*/
}
 