@charset "UTF-8";
/*Aparelho na posição Paisagem(Landscape)*/

* {
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
}